h1, p {
  font-family: Lato;
}

.apps{
    display: flex;
  flex-direction: row;
}

.app{
  display: flex;
  flex-direction: column;
    margin: 50px;
}

.app__info {
  display: flex;
  flex-direction: column;
  margin: 5px;
  text-align: center
}

.app-links{
  display: flex;
  flex-direction: column;
  margin: 5px;
  text-align: center
}

.link{
    display: flex;
  flex-direction: column;
  margin: 5px;
  text-align: center
}